#index
{
    font-size:2vw; 
}

#kontakt
{
    font-size:2vw; 
}

#map
{
    height: 500px;
    width: 500px;
    margin: 0;
    padding: 0;
}

#content_area_info
{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px; 
}

body
{
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    background-image: url("https://i.imgur.com/sHtdoBU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}